.home-header {
    min-height: 70vh;
    padding-top: var(--spacing-xs);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.home-header .image {
    position: absolute;
    width: 250px;
    left: 40px;
    bottom: 0px;
    z-index: -100;
}