.home-page-header{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: var(--spacing-sm) var(--spacing-lg);
    gap: var(--spacing-sm);
}

.home-page-header .home-page-box{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: var(--spacing-sm) var(--spacing-lg);
    gap: var(--spacing-sm);
}