.login-header{
    min-height: 70vh;
    padding: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-header .content-box{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: var(--spacing-sm);
}

.login-header .login-form {
    width: 100%;
    color: #666;
}

.login-header  .login-btn {
    background-color: var(--color-green);
    color: #fff;
}
.login-header .login-btn:hover {
    background-color: var(--color-brand-green);
}

.login-header .image {
    position: absolute;
    width: 500px;
    right: 0px;
    bottom: 0px;
    z-index: -100;
}