.login-page-header{
    position: relative;
    width: 100%;
    height: 100%;
    /* border: solid 1px green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-sm);
    gap: var(--spacing-sm);
}

.login-page-header .login-page-box{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: var(--spacing-md);
    margin-top: var(--spacing-md);
    gap: var(--spacing-md);
}

.login-page-header .login-form {
    width: 100%;
}