
.order-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 var(--spacing-md);
    gap: var(--spacing-sm);
}

.edit-content-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--spacing-md);
    gap: var(--spacing-md);
}
.login-form {
    width: 100%;
    height: 100%;
}

.upload-btn {
    display: none;
}

.upload-content, .image {
    min-width: 400px;
    max-width: 640px;
    min-height: 400px;
}

.upload-content {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--spacing-md);
    gap: var(--spacing-md);
}
