.result-page-header .paper {
    width: fit-content;
    height: fit-content;
    padding: 2rem 2rem 4rem 2rem;
}

.result-page-header .ag-cell{
    display: flex;
    flex-direction: column;
    place-content: center;
}
.result-page-header .edit-box .edit-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.result-page-header .ag-row-total{
    background-color: var(--color-brand-green);
    color: #fff;
}