.main-navigation__menu-btn {
    width: 3rem;
    height: 1.5rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
  }
  
  .main-navigation__menu-btn span {
    display: block;
    width: 1.3rem;
    height: 2px;
    background: #666;
  }
  
  .main-navigation__title {
    color: rgb(253, 162, 57);
    font: var(--font-header);
  }
  
  .main-navigation__title a {
    text-decoration: none;
    color: rgb(253, 162, 57);
  }
  
  .main-navigation__header-nav-auth{
    position: fixed;
    right: 3rem;
  }
  
  .main-navigation__drawer-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
 