.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links li {
    margin: 0.5rem;
  }
  
  .nav-links a {
    border: 1px solid transparent;
    color: var(--color-brand-green);
    font: var(--font-nav);
    text-decoration: none;
    padding: 0.5rem;
  }
  
  .nav-links a:hover,
  .nav-links a:active,
  .nav-links a.active {
    color: rgb(226, 155, 0);
  }
  
  .nav-links button {
    cursor: pointer;
    border: 1px solid #fff;
    color: #292929;
    background: transparent;
    padding: 0.5rem;
    font: inherit;
  }
  
  .nav-links button:focus {
    outline: none;
  }
  
  .nav-links button:hover,
  .nav-links button:active {
    background: #292929;
    color: white;
  }
 

  .logout-btn {
    color: #fff;
    cursor: pointer;
    padding: 4px 12px;
    margin: 0 12px;
    background-color: rgba(48, 55, 78, 0.15);
    
  }
  .logout-btn:hover {
    color: var(--color-brand-green);
  }