
.MuiDialog-root .edit-order-dialog-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 var(--spacing-md);
    gap: var(--spacing-sm);
}