@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500;700&display=swap');
:root{

  --font-color-body: #555;
  --surface-light: #f9f9f9;

  --spacing-lg: 4rem;
  --spacing-md: 2rem;
  --spacing-sm: 1rem;
  --spacing-xs: 0.5rem;
  --spacing-xxs: 0.25rem;

  --font-header: normal 2rem 'Open Sans', sans-serif;;
  --font-header-100: normal 1.5rem 'Open Sans';
  --font-nav: thin 0.825rem 'Open Sans';
  --font-body-200: normal 14px 'Open Sans';
  --font-body-100: normal 10px 'Open Sans';
  --font-footer: normal 0.5rem 'Open Sans';

  --color-brand-green: #254643;
  --color-brand-yellow: #fda239;
  --color-brand-red: #9c3523;

  --color-yellow: #f7c548;
  --color-brown: #A98743;
  --color-dark-brown: #7a5c20;
  --color-eggshell: #EEEBD3;
  --color-green: #255957;
  --color-blue: #437C90;

  --elevation-2px: 0px 2px 8px rgba(0, 0, 0, 0.25);
  --elevation-4px: 0px 4px 12px rgba(0, 0, 0, 0.45);

}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans';
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: var(--surface-light);
  width: 100%;
  height: 100%;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 400ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
