
.home-header .content-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-sm);
}

.home-header .control-box {
    width: 100%;
    height: fit-content;
    padding: var(--spacing-xs) 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-sm);
}

.home-header .card-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spacing-lg);
}

.home-header .panel {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: var(--spacing-xs);
}

.home-header .random-btn {
    background-color: var(--color-brown);
}
.home-header .random-btn:hover {
    background-color: var(--color-dark-brown);
}

.MuiDialog-root .MuiPickersToolbar-toolbar, .MuiDialog-root .MuiPickersClockPointer-pointer,
.MuiDialog-root .MuiPickersClockPointer-noPoint {
    background-color: var(--color-brown);
}
.MuiDialog-root .MuiPickersClock-pin {
    background-color: var(--color-brand-green);
}
.MuiDialog-root .MuiPickersClockPointer-thumb {
    border: 14px solid var(--color-brand-green);
}

.MuiDialog-root .MuiButton-textPrimary {
    color: var(--color-brand-green);
}