.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.orderLink {
    position: relative;
    text-decoration: none;
    color: #333;
    
}

.ListContent {
    /* position: relative;
    border: solid red;
    width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: var(--spacing-sm) 0 0 0;
    padding: 0 var(--spacing-sm) 0 var(--spacing-sm);
    /* background-color: var(--color-brand-yellow); */
    /* border: solid var(--color-brand-yellow) 2px; */
    /* border-radius: 0.25rem; */
    /* cursor: pointer; */
}
/* .ListContent:hover {
    background-color: #eee;
} */